<html>
<head>
    <title>test 3!</title>
    <link rel="icon" href="/static/common/c.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/home/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body style="background-color: black;">
    <div id="particles-js"></div>
    <div class="center">
        <img src="/static/home/DivergenceLogo.gif">
        <hr>
        <a href="https://www.c-foster.com/chess">
            <i class="fas fa-chess-knight link"></i>
        </a>
        <a href="https://github.com/LordLlamaIII">
            <i class="fab fa-github link"></i>
        </a>
    </div>
    <script src="/static/common/particles.js"></script>
    <script src="/static/home/particlerun.js"></script>
</body>
</html>
